<%= render :partial => "teacher/nav" %>

<h1> Synthèse de l'état des différentes serres </h1>
<br/>
<% @all_greenhouses.collect(&:serial_nbr).each do |v| %>
	<h3> Serre <%= v %></h3>
	
	<b> Logs échanges serre/serveur :</b><br/>
	<% @logs[:"#{v}"].each do |t|	%>
		<%= HTTP_CONNECTION_TYPES[:"#{t[0]}"][0].capitalize %> => <b><%= t[1] %></b><br/>
	<% end %>

<% end %>

