<div id="landing">
  	<div class="container">

	    <div class="section jungle" id="section1">
	     	<div class="section-content">
	     		<div class="row">
					<div class="col-md-12 transparent">
						<h1 style="font-size:70px; font-family: 'cf_jack_storyregular';">My Culture : </h1>
						<h3>La serre connectée qui change la manière d'enseigner</h3>
					</div>
				</div>
	     	</div>
	     </div>
	     <div class="section jungle" id="section2">
	     	<div class="section-content">
	     		<div class="row">
					<div class="col-md-12 transparent">
						<h3>Notre But : </h3>
						<p class="but">
							MyCulture apporte une nouvelle manière d'apprendre pour les enfants. Par le biais de cet outil connecté ils pourront s'initier aux notions de l'écologie et de la conséquence du réchauffement climatique sur les organismes. 
							Grâce à une interface pensée pour eux il leur sera possible de 
							
							Nous souhaitons également conserver la possibilité d’élargir le projet à destination des particuliers pour permettre la culture de fruits, légumes ou plantes diverses grâce à ce dispositif permettant la simulation sous serre de différents climats et la gestion automatique des besoins de la plante. Une transmission de données sur smart phone permettrait de suivre la croissance de la culture en temps réel.
						</p>
					</div>
				</div>
	     	</div>
	     </div>
	     <div class="section jungle" id="section3">
	     	<div class="section-content">
	     		<div class="row">
					<div class="col-md-12 transparent">
						<h3>Vous pouvez : </h3>
							<ul class="fonctionnalites">
							  <li>Automatiser la gestion des paramètres</li>
							  <li>Visualiser l'état des paramètres à n'importe quel instant</li>
							  <li>Visualiser l'évolution des paramètres au ours du temps</li>
							  <li>Accéder à l'interface de n'importe où via Internet</li>
							  <li>Simuler la croissance d'une plante</li>
							  <li>Personnaliser le contenu de l'interface</li>
							  <li>Suivre l'évolution de la plante grâce à la fonctionnalité Time Lapse</li>
							</ul> 
					</div>
				</div>
	     	</div>
	     </div>
	     <div class="section jungle" id="section4">
	     	<div class="section-content">
	     		<div class="row">
					<div class="col-md-12 transparent">
						<h3>Un design épuré et une interface ludique</h3>
						<div class="row">
							<div class="col-md-4">
								
							</div>
							<div class="col-md-4">
								
							</div>
							<div class="col-md-4">
								<%=image_tag("Situationactu_v2.png", alt: "Interface", id: "interface")%>
							</div>
						</div>

					</div>
				</div>
	     	</div>
	     </div>
	     <div class="section jungle" id="section5">
	     	<div class="section-content">
	     		<div class="row">
					<div class="col-md-12 transparent">
						<h3>Contacter nous</h3>
						<form class="contact">
						  <div class="form-group">
						    <label for="exampleInputEmail1">Email address</label>
						    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
						  </div>
						  <div class="form-group">
						    <label for="exampleInputPassword1">Password</label>
						    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						  </div>
						  <div class="form-group">
						    <label for="exampleInputFile">File input</label>
						    <input type="file" id="exampleInputFile">
						  </div>
						  <div class="checkbox">
						    <label>
						      <input type="checkbox"> Check me out
						    </label>
						  </div>
						  <button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>
	     	</div>
	     </div>	     










	</div>
</div>
