<div id="landing">
  	<div class="container">

	    <div class="section jungle" id="section1">
	     	<div class="section-content">
	     		<div class="row">
					<div class="col-md-12 transparent">
						<h3>Découvrez une nouvelle manière d'enseigner</h3>
					</div>
				</div>
	     	</div>
	     </div>
	     <div class="section jungle" id="section2">
	     	<div class="section-content">
	     		<div class="row">
					<div class="col-md-12 transparent">
						<h3>Découvrez une nouvelle manière d'enseigner</h3>
					</div>
				</div>
	     	</div>
	     </div>
	     <div class="section jungle" id="section3">
	     	<div class="section-content">
	     		<div class="row">
					<div class="col-md-12 transparent">
						<h3>Découvrez une nouvelle manière d'enseigner</h3>
					</div>
				</div>
	     	</div>
	     </div>










	</div>
</div>