<% content_for :top_content do %>
	
    <div class="container nonco_hp">
		<% if user_signed_in? %>
			<%= render partial: "connected_index" %>
			<%= render partial: "actual_situation" %>
		<% else %>
			<%= render partial: "non_connected_index" %>
		<%end%>
    </div>
 
<% end %>
