body{
	background-image: url("images/jungle.jpeg");
}

.transparent{
	text-align: center;
	margin-top: 22%;
	font-size: 50px !important;
	text-transform: uppercase;
	color: white;

      h3 {
        padding-top: 15px;
        padding-bottom: 15px;
      }
}