.jungle{
	background-image: url("images/jungle.jpeg");
}

.transparent{
	text-align: center;
	font-size: 50px !important;
	text-transform: uppercase;
	color: white;

      h3 {
        padding-top: 15px;
        padding-bottom: 15px;
      }
}


/*section1*/

/*section 2*/
.but{
	font-size: 14px;
}

/*section 3*/
.fonctionnalites{
	font-size: 14px;
}

/*section 4*/
#interface{
	width: 50%;
}

/*section 5*/
.contact{
	font-size: 14px;
	width: 50%;
	margin-left: 25%;
}