.c3{
	max-height: 240px;
	position: absolute;
	height: 100%;
	width: 100%;
}

.mois{
	width: 100px;
}

.disabled2{
	background-color: white;
	border-color: #ccc;
	cursor: not-allowed;
	pointer-events: none;
}

/*image gallery*/

.content-galleria{

	color:#777;
	font:12px/1.4 "helvetica neue",arial,sans-serif;
	width:100%;
}

#galleria{
	height:620px;
}


.galleria-info2{
	top: 0px;
	color: black;
}

.info{
	width: 300px;
	height: 200px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 2px 2px 2px 2px;
	position: absolute;
	line-height: 20px;
	left: 70px;
	right: 70px;
	bottom: 1px;
	top:16px;
	z-index: 100;
	word-wrap: break-word;
}

.galleria-thumbnails-container{
	z-index: 1000 !important;
}

.test{
	margin: 2px 2px 2px 2px;
	position: absolute;
	z-index: 100;
	background-image: url("images/info_512pxGREY.png");
	background-size: 20px;
	width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}