/*GENERAL CSS*/
body{
	background-color: #FFFEF9;
}

.container{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.jumbotron{
	background-color: white;
}

.form-connexion{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("images/jungle.jpeg");
	text-align: center;
}

.co{
	margin-top: 10%;
}

.transparent-co{
	background-color: rgba(255,255,255, 0.7);
	padding:4% 0% 4% 0%;
}

.center-row{
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5%;
}

.white-back{
	background-color: white;
}

@font-face {
    font-family: 'cf_jack_storyregular';
    src: url(font-path('cfjackstory-regular-webfont.eot')),
    	 url(font-path('cfjackstory-regular-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('cfjackstory-regular-webfont.woff2')) format('woff2'),
         url(font-path('cfjackstory-regular-webfont.woff')) format('woff'),
         url(font-path('cfjackstory-regular-webfont.ttf')) format('truetype'),
         url(font-path('cfjackstory-regular-webfont.svg') + "#cf_jack_storyregular") format('svg');
    font-weight: normal;
    font-style: normal;

}