<div class="row center-row" style="margin-top:9%">
	<div class="col-md-12">
<h1>Teacher::MediaFileHandlers#create</h1>
<p>Find me in app/views/teacher/media_file_handlers/create.html.erb</p>
</div>
</div>